<h1> Members of selected nation: </h1>



<section>
<% @results.each do |member|%>
<h2>name:</h2>
  <%= member["name"] %>
  <h3>allies:</h3>
  <%= member["allies"].each { |ally| ally }.reject(&:blank?) %>
  <br>
<% end %>

</section>
